/*CSS reset*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{ margin: 0; padding: 0;}
table{ border-collapse:collapse;border-spacing:O;}
img{ border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
hl,h2,h3,h4,h5,h6{font-size:lOO%;font-weight:normal;}
q:before,q:after{content:"";}
abbr,acronym{ border:0;}
input{ outline:none;}
/*文字排版*/
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f20{ font-size:20px;}
.fb{ font-weight:bold;}
.fn{ font-weight:normal;}
.t2{ text-indent:2em;}
.unl{ text-decoration:underline;}
.no-unl{ text-decoration:none;}

/*定位*/
.img-p100{ width: 100%; display: block; }
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.bc{ margin-left:auto; margin-right:auto;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.cl{ clear:left;}
.cr{ clear:right;}
.cb{ clear:both;}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix{*zoom:1;}
.vm{ vertical-align:middle;}
.vtop{ vertical-align: top;}
.pr{ position:relative;}
.pa{ position:absolute;}
.abs-right{ position:absolute; right:0;}
.zoom{ zoom:1;}
.hidden{ visibility:hidden;}
.none{ display:none;}
.ovh{overflow: hidden;}
.indent{ text-indent: 2em;}
.indent2{ text-indent: 3em;}
/*通用类*/
.f16{ font-size:16px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}
.ml30{ margin-left: 30px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.opacity0{ opacity: 0;}
.bottom-0{ bottom: 0;}
.bottom-33{bottom: -100%;}
.bottom-66{bottom: -200%%;}
/*page*/

@font-face
{
font-family: myFirstFont;
src: url('../font/font.ttf'); 
}

html,body{ width: 100%; height: 100%; background: #333;}
body{ overflow: hidden; width: 640px; margin: 0 auto; position: relative; -webkit-user-select: none; font-family: myFirstFont;}

.wrapper,.product,.activity{ width: 100%; height: 100%;}
.loading{ position: absolute; width: 100%; height: 100%; background: url(../images/loading.png) center center; background-size: cover; z-index: 9990;}
.loading-center{ width: 80px; height: 10px; position: absolute; left: 50%; top: 34%; margin-left: -45px; }
.loading-center>span{ display: inline-block; width: 10px; height: 10px; border-radius: 50%; background: #fff; margin-left: 10px; opacity: 0;}
.loading-center>span:first-child{ opacity: 1;}
.page{  width: 100%; height: 100%; }
.page-img{  width: 100%; height: 100%; left: 0; top: 0; overflow: hidden;}
.page-img>img,.page1-bg>img{  bottom: 0;}
.icon-bg{ background-image: url(../images/icon.png?v=1.9);}
.pub-tips{ position: fixed; padding: 10px 30px; background: rgba(0,0,0,0.6); border-radius: 5px; color: #fff; font-size: 28px; font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Verdana, Arial;}

.page-hours{  width: 152px; height: 220px; left: 244px; top: -25px; }
.page-time{  width: 160px; height: 100px; left: 240px; top: 200px; }
.page-words{ width: 178px; height: 136px; left: 231px; top: 310px;}
.page-count{ width: 128px; height: 312px; left: 256px; bottom: 180px; }
.page-next{ width: 108px; height: 118px; left: 266px; bottom: -2px;}
.page-next1{ left: 212px; }
.page-next2{ left: 324px;}
.page-minus, .page-plus{ width: 80px; height: 80px; left: 25px;}
.page-minus{ top: 60px;}
.page-plus{ bottom: 0px;}
.page-num{ width: 50px; height: 50px; font-size: 46px; left: 43px; bottom: 116px; }

.page-content{  width: 100%; height: 100%; left: 0; top: 0; z-index: 100;}
.page-content-top{ position: absolute; width: 100%; top: 0; height: 50%;}
.page-content-bottom{ position: absolute; width: 100%; bottom: 0; height: 50%;}

.page-sp-bottom{ bottom: 188px;}

.game-tips-mask{ position: absolute; width: 100%; height: 100%; z-index: 9000; left: 0; top: 0; background: rgba(170, 224, 206,0.4);}
.game-tips{  position: absolute; width: 438px; height: 511px; left: 50%; top: 50%; margin-left: -219px; margin-top: -255px; z-index: 9888; background-image: url(../images/tips.jpg);}
.game-tips2{  background-image: url(../images/tips2.jpg)}
.game-tips-close{ position: absolute; width: 100px; height: 100px; right: 0; top: 0;}


/*page1*/
.page1-content-box{  width:448px; height: 472px; left: 96px; bottom: 48px; overflow: hidden; }
.page1-bg{ width: 100%; height: 100%; z-index: 1;}
.page1 .page-img{ z-index: 10;}
.page1-head{ width: 100%; height: 100%; left: 0; top: 0;}
.page1-title{ width: 176px; height: 80px; left: 152px; top: 91px; background-position: 0 0;}
.page1-point{ width: 26px; height: 94px;  left: 211px; top: 210px; background-position: 0 -88px;}
.page1-begin{ width: 96px; height: 54px; left: 178px; top: 346px; background-position: -35px -88px;}
.page1-head-arrow{ width: 492px; height: 110px; left: -22px; top: 187px; background-position: -1106px -758px; z-index: 100;}
/*page2*/

.page2 .page-hours{  background-position: -182px 0;}
.page2 .page-time{   background-position: 4px -275px;}
.page2 .page-words{ width: 204px; height: 132px; left: 224px;  background-position: 0px -400px;}
.page2 .page-count{ background-position: 0px -556px; color: #fff5c4;}
.page2 .page-next{ background-position: 2px -880px;}
.page2 .page-words2{ width: 182px; height: 114px; left:236px; background: url(../images/font.png) -466px 0;}
/*page3*/

.page3 .page-hours{  background-position: -368px 0;}
.page3 .page-time{   background-position: -194px -280px;}
.page3 .page-words{ width: 328px; height: 154px; left: 157px; top: 300px;  background-position: -205px -382px;}
.page3 .page-count{ background-position: -224px -556px; bottom: 196px; color: #fff5c4;}
.page3 .page-next1{ background-position: -116px -879px;}
.page3 .page-next2{ background-position: -228px -879px;}
.page3 .page-words2{ width: 302px; height: 130px; left:169px; background: url(../images/font.png) -692px 0;}
/*page4*/

.page4 .page-hours{  background-position: -548px 0;}
.page4 .page-time{   background-position: -380px -280px;}
.page4 .page-words{ width: 284px; height: 148px; left: 182px; top: 300px; background-position: -530px -380px;}
.page4 .page-count{  background-position: -372px -556px; color: #fdf3d6;}
.page4 .page-next1{ background-position: -342px -879px;}
.page4 .page-next2{ background-position: -452px -879px;}
.page4 .page-words2{ width: 264px; height: 138px; left:188px; background: url(../images/font.png) -466px -178px;}

/*page5*/

.page5 .page-hours{  background-position: -735px 0;}
.page5 .page-time{   background-position: -550px -279px;}
.page5 .page-words{ width: 244px; height: 160px; left: 200px; top: 300px; background-position: -810px -382px;}
.page5 .page-count{ background-position: -518px -556px; color: #fff3c2;}
.page5 .page-next1{ background-position: -562px -879px;}
.page5 .page-next2{ background-position: -670px -879px;}
.page5 .page-words2{ width: 200px; height: 128px; left:224px; background: url(../images/font.png) -776px -176px;}
/*page6*/

.page6 .page-hours{  background-position: -916px 0;}
.page6 .page-time{   background-position: -708px -279px;}
.page6 .page-words{ width: 196px; height: 136px; left: 222px;  background-position: -1057px -382px;}
.page6 .page-count{ background-position: -668px -556px; color: #fae6b5;}
.page6 .page-next1{ background-position: -780px -879px;}
.page6 .page-next2{ background-position: -890px -879px;}

/*page7*/

.page7 .page-hours{  background-position: -1087px 0;}
.page7 .page-time{   background-position: -857px -280px;}
.page7 .page-words{  width: 196px; height: 188px; left: 228px; background-position: -1256px -331px;}
.page7 .page-count{ background-position: -800px -556px; color: #402e5b;}
.page7 .page-next1{ background-position: -996px -879px;}
.page7 .page-next2{ background-position: -1107px -879px;}

/*page8*/

.page8 .page-hours{  background-position: -1254px 0;}
.page8 .page-time{   background-position: -1016px -280px;}
.page8 .page-words{  width: 132px; height: 154px; left: 254px;  background-position: -1462px -365px;}
.page8 .page-count{ background-position: -938px -556px;  color: #fff3c2;}
.page8 .page-next1{ background-position: -1214px -879px; }
.page8 .page-next2{ background-position: -1324px -879px;}

/*page9*/

.end-box{ position: absolute; width: 503px; height: 802px; left: 50%; top: 50%; margin-left: -251px; margin-top: -401px; background-image: url(../images/end.png);}
.end-box:first-child{ background-position: -503px 0;}
.end-box:last-child{ background-position: 0px 0;}
.end-box>div{ position: absolute;  color: #ffef99;}

.end-dotime{ left: 24px; top: 262px; width: 150px; height: 50px; font-size: 50px; letter-spacing: -4px; }
.end-notime{ left: 266px; top: 262px; width: 150px; height: 50px; font-size: 50px; letter-spacing: -4px;  }
.end-words{ left: 40px; top: 378px;}
.end-words>div{width:202px; height :160px; background-image: url(../images/font.png); position: absolute; left: 0; top: 0;}
.end-icon{ width: 185px; height: 180px; left: 286px; top: 370px; background-image: url(../images/icon.png); background-position: -1108px -556px ;}
.end-icon2{  background-position: -1360px -550px ;}
.end-icon3{  background:url(../images/font.png) -775px -322px ;}
.end-icon4{  background:url(../images/font.png) -500px -340px ;}
.end-again{ width: 232px; height: 56px; left: 22px; top: 588px;}
.end-activity{ width: 232px; height: 50px; left: 22px; top: 666px;}
.end-product{ width: 205px; height: 100px; left: 276px; top: 614px;}

.copy-man0{ background-position: 0 -352px;}
.copy-man1{ background-position: 0 0px;}
.copy-man2{ background-position: 0 -176px;}
.copy-woman0{ background-position: -220px -352px;}
.copy-woman1{ background-position: -220px 0px;}
.copy-woman2{ background-position: -220px -176px;}

.day-time{ position: absolute; color: #fff5c4; left:13px; top: -8px; font-size: 40px; letter-spacing: -2px; }
.page7 .day-time{ color: #ffea3a;}
/*product*/
.p2-content{ width:100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden;}
.p2-content>div{ position: absolute; width: 100%; height: 100%;}
.p2-content>div>img{ position: absolute; width: 100%; display: block; bottom: 0;}
.p2-title{  width: 240px; height: 116px; background-position: -292px -138px; left: 0; top: 0; z-index: 10;}
.p2-logo{  width: 182px; height: 116px;  background-position: -532px -134px; left: 458px; top: 0px; z-index: 10;}
.p2-btn{ width: 640px; height: 112px; left: 0; bottom: 0; background-position: -16px -716px;}
.p2-btn>div{ width: 50%; height: 100%; float: left;}
/*activity*/
.activity{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/act_bg.jpg) center top; background-size: cover; overflow: hidden;}
.p-icon{ background-image: url(../images/p_icon.png); }
.p3-title{ width: 230px; height: 116px; background-position: 0 0; left: 0; top: 0;}
.p3-logo{ width: 160px; height: 116px; background-position: -254px 0; left:480px; top: 0;}
.p3-time{ width: 84px; height: 116px; left: 556px; top: 390px;background-position: -468px 0;}
.p3-class{ width: 242px; height: 102px; left: 199px; top: 370px;background-position: -1px -138px;}
.p3-words{width: 242px; height: 86px; left: 199px; top: 486px;background-position: -1px -256px;}
.p3-submit{width: 426px; height: 176px; left: 107px; top: 606px; background-position: -1px -375px;}
.p3-people{ width: 640px; height: 992px; left: 0; top: 144px; background: url(../images/act_people.png); }
.p3-btn{ width: 640px; height: 112px; left: 0; bottom: 0; background-position: -16px -570px;}
.p3-btn>div{ width: 50%; height: 100%; float: left;}
.p3-submit input{ position: absolute; width: 305px; height: 52px;left: 95px;  line-height: 52px; border: none; font-size: 32px; background: none;}
.p3-submit input:first-child{ top: 18px;}
.p3-submit input:last-child{ top: 102px;}
/*box3d*/
.box3d-container{ position: absolute; z-index: 100; width: 100%; height: 100%; left: 0; top: 0;}
.box3d-container>div{ position: relative; width: 100%; height: 33.33%; }

@-webkit-keyframes loadingCenter
{
0%   { -webkit-transform:rotate(0);}
25%  { -webkit-transform:rotate(90deg);}
50%  { -webkit-transform:rotate(180deg);}
75%  { -webkit-transform:rotate(270deg);}
100% { -webkit-transform:rotate(360deg);}
}

@media all and (orientation : landscape) { /*　　这是匹配横屏的状态，横屏时的css代码　　*/
	
} 
@media all and (orientation : portrait){ /*　　这是匹配竖屏的状态，竖屏时的css代码　　*/
 	
} 

/* iphone 4/4s */
@media only screen and (max-device-height:480px) {

	.page1-content-box{ bottom: 2px;}
	.page-hours{ top: -40px; }
	.page-time{ top: 180px; }
	.page-words{ top: 280px;}
	.page-count{ bottom: 120px;}
	.p3-time{ top : 320px;}
	.p3-class{ top : 345px;}
	.p3-words{ top : 460px}
	.p3-submit{ top:550px;}
	.p2-content>div>img{ bottom: -140px;}
	.page3 .page-count{ bottom: 120px;}
	.page5 .page-words{ top: 276px;}
	.page7 .page-words{ top: 276px;}
	.page-content-bottom{ -webkit-transform-origin : bottom; -webkit-transform : scale(0.85);}
}

/* 其它小屏幕 */
/*@media only screen and (max-device-height:540px) and (min-device-height:481px) {
	.page-hours{ top: -20px; }
	.page-time{ top: 210px; }
	.page-words{ top: 310px;}
	.page-count{ bottom: 160px;}

	.p3-time{ top : 330px;}
	.p3-class{ top : 360px;}
	.p3-words{ top : 490px}
	.p3-submit{ top:600px;}
	.p2-content>div>img{ bottom: -80px;}
}*/

/* 奇葩分辨率魅族mx2 */
@media only screen and (device-height:640px) and (device-width:400px) {

	.page1-content-box{ bottom: 2px;}
	.page-hours{ top: -40px; }
	.page-time{ top: 180px; }
	.page-words{ top: 280px;}
	.page-count{ bottom: 120px;}
	.p3-time{ top : 320px;}
	.p3-class{ top : 345px;}
	.p3-words{ top : 460px}
	.p3-submit{ top:550px;}
	.p2-content>div>img{ bottom: -140px;}
	.page3 .page-count{ bottom: 120px;}
	.page5 .page-words{ top: 276px;}
	.page7 .page-words{ top: 276px;}
}